.lead__title {
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  max-width: 720px;
  margin: 56px auto 32px;
  min-width: 288px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 32px;
  } 
}
@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 680px;
    font-size: 56px;
  } 
}
@media screen and (max-width: 400px) {
  .lead__title {
    font-size: 40px;
  } 
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 288px;
    margin-bottom: 16px;
  } 
}